<%- include('layout', { body: '' }) %>
<h2>Login</h2>

<% if (error) { %>
  <p style="color:red;"><%= error %></p>
<% } %>

<form action="/login" method="POST">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <div>
    <label>Username:</label>
    <input name="username">
  </div>
  <div>
    <label>Password:</label>
    <input name="password" type="password">
  </div>
  <button type="submit">Login</button>
</form>
