<!DOCTYPE html>
<html>
<head>
  <title>Super Insecure Blog</title>
</head>
<body>
  <header>
    <h1>Super Insecure Blog</h1>
    <% if (user) { %>
      <p>Logged in as <%= user.username %></p>
      <form action="/logout" method="POST" style="display:inline;">
        <button type="submit">Logout</button>
      </form>
    <% } else { %>
      <a href="/login">Login</a> | <a href="/register">Register</a>
    <% } %>
    <hr>
  </header>

  <%- body %>
</body>
</html>
